@font-face{
	font-family:"data";
	src:local("YouYuan");
	font-weight:normal;
}

@font-face{
	font-family:"data";
	src:local("FZYaoti");
	font-weight:bold;
}
body.index{
        	color:#ffffff;
		background-image:url("p/pf.jpg");
		background-attachment: fixed;
		background-size:100%;
        	margin-left:24%;
       		margin-right:24%;
       		border:2px solid white;
      		padding:20px 20px 20px 20px;
       		font-family:"data","STHeiti";
		}
h1.index{
	font-size:50px;
	font-family:"STHeiti";
}

ul.f {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}
 
li.f{
    float: left;
    border:1px solid black;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 90px;
    text-decoration:none;
}

li a:hover {
    background-color: #111;
}
body.legends{
        	color:#ffffff;
		background-image:url("p/pf.jpg");
		background-attachment: fixed;
		background-size:100%;
        	margin-left:23%;
      	    	margin-right:23%;
         	border:2px solid white;
        	padding:20px 20px 20px 20px;
        	font-family:"data","STHeiti";
              	}
body.maps{
		color:#ffffff;
		background-image:url("p/el.jpg");
		background-attachment: fixed;
		background-size:100%;
		margin-left:15%;
		margin-right:15%;
		border:2px solid white;
		padding: 20px 20px 20px 20px;
		font-family:"data","STHeiti";
	       	}
