body.index{
        	color:#ffffff;
        	background-color:#666666;
		background-image:url("p/pf.jpg");
		background-attachment: fixed;
        	margin-left:24%;
       		margin-right:24%;
       		border:2px solid white;
      		padding:20px 20px 20px 20px;
       		font-family:HTheiti;
		}
body.legends{
        	color:#ffffff;
                background-color:#666666;
		background-image:url("p/pf.jpg");
		background-attachment: fixed;
        	margin-left:23%;
      	    	margin-right:23%;
         	border:2px solid white;
        	padding:20px 20px 20px 20px;
        	font-family:HTheiti;
              	}
body.maps{
		color:#ffffff;
		background-color:#666666;
		margin-left:15%;
		margin-right:15%;
		border:2px solid white;
		padding: 20px 20px 20px 20px;
	       	}
